<div id="sidebar-right">
  <div id="right-top">
    <div class="adj">＃電子回路</div>
    <div class="adj">第3回</div>
    <div class="adj">2016.12.26</div>
  </div>
  <hr size="1" color="#FF428A" width=190 align="center">
  <div>
    <ul id="right-list">
      <li>小テスト</li>
      <li>アンケート</li>
      <li>Q1　<%= image_tag("pinkheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;<span style="color: #FF428A">9</span></li>
      <li>Q2　<%= image_tag("grayheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;16</li>
      <li>Q3　<%= image_tag("pinkheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;<span style="color: #FF428A">22</span></li>
      <li>Q4　<%= image_tag("grayheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;8</li>
      <li>Q5　<%= image_tag("grayheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;11</li>
      <li>Q6　<%= image_tag("grayheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;2</li>
      <li>Q7　<%= image_tag("grayheart_side.png", :size => "15x15", :alt => "アイコン",:align=>"bottom") %>&nbsp;6</li>
    </ul>
  </div>
</div>
