<div id="topt">
	<span id="lname-top">電子回路</span>
	<span class="subtxt">　第3回</span>
	<span class="subtxt">　12月26日</span>
</div>
<div id="subtop">
	<span style="float: right;">
		<%= image_tag("syllabus_button.png", :size => "30x30", :alt => "アイコン") %>
		<%= image_tag("favorite_button.png", :size => "30x30", :alt => "アイコン") %>
		<%= image_tag("setting_button.png", :size => "30x30", :alt => "アイコン") %>
	</span>
	<%= image_tag("teacher_icon.png", :size => "25x25", :alt => "アイコン") %>
	<span>下井倉　慶紀　　　</span>
	<%= image_tag("member_icon.png", :size => "15x15", :alt => "アイコン") %>
	<span>56</span>
	<br style="clear: right;">
</div>
<hr size="1" color="#FF428A">
