<!DOCTYPE html>
<html>
<head>
  <title>QQ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//www.google.com/jsapi', 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial:'layouts/sidebar_left.html.erb' %>
<%= render partial:'layouts/sidebar_right.html.erb' %>

<div id="content">
  <%= yield %>

</div>

</body>
</html>
