<!DOCTYPE html>
<html>
<head>
  <title>QQ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial:'layouts/top.html.erb' %>

<%= render partial:'layouts/sidebar_left.html.erb' %>
<div id="content">
  <%= yield %>
</div>
<%= render partial:'layouts/sidebar_right.html.erb' %>

</body>
</html>
