<p id="notice"><%= notice %></p>

<dd>
  <iframe src="http://www.slideshare.net/slideshow/embed_code/<%= @slideId %>?rel=0" width="427" height="356"
            frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;
            border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen>
  </iframe>
</dd>

<% @comments.each do |comment| %>
  <h1><%= comment.content %></h1>
<% end %>


  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.name %></td>
        <td><%= channel.teacher %></td>
        <td><%= channel.time %></td>
        <td><%= channel.slide %></td>
        <td><%= channel.syllabus %></td>
        <td><%= link_to 'Show', channel %></td>
        <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
        <td><%= link_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <% @comments.each do |comment| %>
    <hr>
      <div class="comment" >
        <span style="background-color:#EDF7FF;">
          <div>
            <h2>Q<%= comment.id %>&nbsp;<font color="lightgreen">Resolved</font></h2>
          </div>
        </span>
        <span><%= comment.content %><br>&nbsp;<span class="date">(<%= comment.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %>)</span><br><br>
        </span>
        <span><center>
          <%= image_tag("grayarrow.png", :size => "20x20", :id => "onclick") %>&nbsp;
          <%= image_tag("grayheart.png",:class => "heart1", :size => "20x20") %>
          <%= image_tag("pinkheart.png",:class => "heart2", :size => "20x20") %>
          <%= comment.favorite %>
      </center></span>
      </div>

      <!-- リプライ（解答） -->
      <%= form_for :comment, url: comments_path, html: {:class => "reply",:id => "reply"} do |f| %>
        <%= f.label :解答 %>
        <%= f.text_area :content, size: "70x5" %><br>
        <%= f.submit %>
      <% end %>

      <% end %>




    <hr>
      <div class="comment" >
        <span style="background-color:#EDF7FF;">
          <div>
            <h2>Q4&nbsp;<font color="red">Unsolved</font></h2>
          </div>
          <div class="slide">aaa</div>
        </span>
        <span>~~~~~~~~~~~~~~~が分かりません。教えてください。<br>&nbsp;<span class="date">(2016.12.27 16:40)</span>
        </span>
        <span><center>
          <%= image_tag("grayarrow.png", :size => "20x20", :id => "onclick") %>&nbsp;
          <%= image_tag("grayheart.png",:class => "heart3", :size => "20x20") %>
          <%= image_tag("pinkheart.png",:class => "heart4", :size => "20x20",:style => "display: none;") %>
        </center></span>
      </div>
      <hr>

      <div id="review">
        今日の内容は理解できましたか？<br>
          <span>
            <input type="checkbox" >よく理解できた
            <input type="checkbox" >理解できた
            <input type="checkbox" >あまり理解できなかった
            <input type="checkbox" >理解できなかった<br>
            <center><input type="submit" value="送信"></center>
          </span>
      </div>

  </tbody>
</table>


<%= form_for :comment, url: comments_path do |f| %>
<font size="3px"><%= f.label :質問 %></font>
<%= f.text_area :content, size: "70x10" %><br>
<center><%= f.submit %></center>
<% end %>


<%= link_to 'New Channel', new_channel_path %>
